/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

main {
    /* min-height: 600px; */
    height: auto;
    overflow: auto;
    padding-bottom: 30px; 
    width: 370px;
    margin: 10px auto;
    border: 2px solid #787878;
    border-radius: 5px;
}

main > h2 {
    width: 100%;
    margin: 20px auto 0px auto;
    text-align: center;
}

main .form-section {
    margin: 0px 20px 25px 20px;
    width: 350px;
}

main .form-section .form-header > h2 {
    width: 100%;
    margin: 0 auto;
    /* float: left; */
}

main .form-section .form-title  {
    float: left;
    width: 225px;
    height: 30px;
    margin-bottom: 10px;
}

main .form-section .form-title #title {
    float: left;
    height: inherit;
    width: inherit;
    border: 1px solid #787878;
}

main .form-section .form-button {
    float: left;
    width: 80px;
    height: 25px;
    margin-left: 25px;
}

main .form-section .form-button #submitButton {
    border: 1px solid #787878;
    width: inherit;
    height: inherit;
    font-size: 10.5aspt;
    border-radius: 2px;
    margin-top: 3px;
    /* border: 1px solid red; */
}

main .form-section .form-button #submitButton:hover {
    opacity: 0.7;
}


main .form-section .form-text #description {
    width: 325px;
    height: 50px;
    clear: left;    
    color: #787878;
    /* border: 1px solid yellow; */
   
}

.horizontal-separator {
    display: block;
    border-top: 1px solid #787878;
    width: 150px;
    height: 1px;
    margin: 0px auto;
}

/***** Lists  *****/

main .todo-list {
    width: 330px;
    height: 350px;
    margin: 7px auto;
}

.dynamic-div {
    width: inherit;
    height: 100px;
    border: 1px solid #767676;
    border-radius: 5px;
    margin-bottom: 10px; 
}

main .todo-list .dynamic-div h3 {
    float: left;
    margin: 5px 5px;
    width: 80%;
}

main .todo-list .dynamic-div p {
    float: left;
    margin: 0px 5px;
    color: #767676;
    font-size: 10pt;
    width: 80%;

}

main .todo-list .dynamic-div h5 {
    float: left;
    width: 80%;
    margin: 8px 5px 10px 5px;
    font-size: 10.7pt;
}


main .todo-list .dynamic-div .delete-button {
    width: 30px;
    height: 35px;
    float: right;
    margin: 32.5px 5px;
}

main .todo-list .dynamic-div button {
    width: inherit;
    height: inherit;
    border: 1px solid #767676;
}

main .todo-list .dynamic-div button:hover {
    opacity: 0.7;
}


.vertical-separator {
    float: right;
    border-left: 1px solid #787878;
    width: 1px;
    height: 80px;
    margin: 10px 0px;
}

.button-Container {
    width: 200px;
    height: 70px;
    margin: 0 auto;
}

.button-Container p {
    float: left;
    font-size: 9pt;
    margin-right: 12px;
}
#night-day {
    width: inherit;
    height: inherit;
    margin: 0px auto;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}