body {
    margin: 0px;
    background-color: #e3e4e5; 
    font-family: Lato, sans-serif;
    
}

#logoContainer {
    margin-top: 15px;
    width: 105px;
    height: 35px;
}

.navbar-brand {
    width: inherit;
    height: inherit;
    background-image: url('../images/slackLogo.png');
    background-size: 105px 30px;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #e3e4e5;
    font-size: 15px;
    font-weight: 400;
}

#rightNav li a {
    color: #253039;
}

.navbar-default {
    border-color: transparent; 
}
.homePageContainer{
     /* border: 1px solid red;  */
    width: 100%;
    height: 695px;
    margin: 0px auto;
}

.headerLeft {
    /* border: 1px solid turquoise; */
    float: left;
    width: 48.5%;
    height: inherit;
    margin-left: 20px;
}
.headerRight {
     /* border: 1px solid lime; */
    float: right;
    width: 48.5%;
    height: inherit;
    margin-right: 20px;
    background-image: url('../images/slackBackground.png');
    /* position: absolute; */
    z-index: 1;
    /* bottom: 0;
    right: 0; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    
}