*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: #f2f2f2;
}

.box {
  color: #fff;
  padding: 1em;
  /* text-align: center; */
}

input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: 1px solid #f2f2f2;
}

.message-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.message-list li {
  padding: .2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f2f2f2;
  /* border: thin solid red; */
  color: black;
  text-align: left;


}

/* Our Grid Code */

.app-layout {
  display: grid;
  height: 100vh;
  /* grid-template-columns: 100px 250px 1fr; */
  grid-template-columns: 0px 200px 1fr;
  grid-template-rows: auto 1fr auto;
}

.header     { background-color: #ffffff; }
/* .teams      { background-color: #362233; } */
/* .channels   { background-color: #52364E; } */
.channels   { background-color: #4d394b; }
.messages   { background-color: #ffffff; }
.write      { background-color: #f2f2f2; }

/* .teams {
  grid-column: 1;
  grid-row: 1 / 4;
} */

.channels {
  grid-column: 2;
  grid-row: 1 / 4;
}

.header {
  grid-column: 3;
  grid-row: 1;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}

.messages {
  grid-column: 3;
  grid-row: 2;
  padding: 0 1em;
  overflow-y: scroll;
  /* background-color: red; */
}

.input {
  grid-column: 3;
  grid-row: 3;
}

.userMessage {
  color: #2c2d30;
  width: inherit;
  height: 20px;
  /* overflow: auto; */
  word-wrap: break-word;
  border-top: thin solid #A3A3A3; 
}

.userMessage .userName {
  font-weight: bold;
}