/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {zz
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
container {
    width: 100%;
    height: 100%;
    min-height: 700px;
}

/* ---------- START header ----------  */

#container .header {
    background: url('../img/BackgroundHeaderMerged.jpg');
    background-size: cover;
    width: 100%;
    height: 670px;
}

#container .header .wrap960 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.wrap960 .header-top {
    float: left;
    width: 100%;
    height: 80px;
}

.wrap960 .header-top .logo-wrap {
    float: left;
    width: 25%;
    height: 100%;
}

.logo-wrap .logo {
    background: url('../img/logo_128x50.png');
    display: block;
    width: 128px;
    height: 50px;
    margin: 12px 0 0 10px;
}

.wrap960 .header-top .nav-wrap {
    float: right;
    width: 75%;
    height: 100%;
}

.nav-wrap ul {
    list-style: none;
    font-size: 10pt; 
    float: right;
      /* width: 650px;   */
    height: 30px;
    margin: 29px 0 0 25px; 
    padding: 0;
} 

.nav-wrap ul > li {
    display: inline; 
    margin: 0 6px; 
    padding: 0; 
} 

.nav-wrap ul > li > a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.nav-wrap ul > li > a:hover {
    color: #00e0d0;
}

.header-middle {
    float: left;
    width: 100%;
    height: 420px;
    padding: 80px 0;
}

.header-middle > h1 {
    color: #FFF;
    font-size: 27pt;
    text-align: center;
    margin: 37px 0px 0px 0px;
}

.header-middle > p {
    color: #FFF;
    text-align: center;
    font-size: 14pt;
    width: 80%;
    margin: 30px auto;
}

.header-middle .dark-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0;
    background: transparent;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.dark-button:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.separator {
    display: block;
    width: 50px;
    height: 1px;
    margin: 13px auto;
    border-top: 1px solid #00e0d0;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 180px auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left; /* --- !!! ---- */
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

/* ---------- END header ----------  */

/* ---------- START about ----------  */

.about {
    height: 400px;
}

.about .aside-left {
    float: left;
    width: 43.5%;
    height: inherit;
}
    /*prev value 730*/

.about .aside-left #aside-logo {
    width: 235px;
    margin: 70px 400px;
}
/* Distance between aside-logo and text block is 100px H color is 413d4b */

.about .aside-right {
    display: inline-block;
    width: 45%; 
}

.about .aside-right h3{
    color: #413B4B; 
    font-size: 17pt;
    margin: 60px 0px 0px 0px; 
}

.about .aside-right p {
    color: #817F86;
    width: 540px;
    margin-bottom: 10px;
}


.about .aside-right .dark-button {
    display: block;
    float: left;
    font-size: 10pt;
    width: 120px;
    height: 40px;
    margin: 0px auto;
    padding: 10px;
    color: #00e0d0; 
    background: transparent;
    border: 1px solid #00e0d0; 
    border-radius: 2px;
}

.about .aside-right .dark-button:hover {
    color: #30235f;
    border: 1px solid #30235f; 

}

.about-video {
    background: url('../img/VideoSectionBackground.jpg');
    background-size: cover;
    width: 100%;
    height: 550px;
    border: 1px solid transparent;    
}

.about-video #video-button > a > img{
    display: block;
    width: 102px;
    height: 102px;
    margin: 198px auto 0px auto;
}
.about-video #video-button > a > img:hover{
    opacity: 0.6;
}

.about-video .video-text > h3 {
    color: white;
    text-align: center;
    font-size: 12.3pt;
    margin: 36px auto;
} 

/* ---------- END about ----------  */

/* ---------- START expertise ----------  */

.expertise-section {
    height: 753px;
    width: 960px;
    margin: 0 auto;
    border: 1px solid transparent;  
}

.expertise-section .separator {
    margin-bottom: 20px;
    border-top: 1px solid #C6C4C9;

}

.expertise-section .top-section h3 {
    font-size: 22pt;
    width: 18%;
    margin: 56px auto 0px auto;
    color: #413B4B;
}

.expertise-section .mid-section .mid-top > ul > li > img {
     margin-top: 17px; 
}

.expertise-section .top-section p {
    color: #78777B;
    font-size: 14pt;
    margin: 0px auto;
    text-align: center;
}

.expertise-section .mid-section {
    width: inherit;
    height: inherit;
    margin: 0px auto;
}
/* 50px between seperator and mid-top*/

.expertise-section .mid-section ul {
    list-style: none;
    margin: 60px auto 0px auto;
}

.expertise-section .mid-section .mid-bottom ul {
    list-style: none;
    margin: 40px auto 0px auto;
}
.expertise-section .mid-section ul > li{
    display: inline-block; 
    text-align: center;
    padding: 0px 20px;
}

.expertise-section .mid-section ul > li  > h5 {
    color: #413D4B;
    padding-top: 0px;
    margin: 25px auto 0px auto;

}
.expertise-section .mid-section ul > li > p {
    color: #7A7A7A;
    font-size: 14px;
    width: 252px;
    margin: 14px auto;
    padding-top: 0px;

}

#grid-separator-horizontal {
    display: block;
    width: 940px;
    height: 1px;
    margin: 20px;
    padding: 0px;
    border-top: 1px solid #EBEBEB;
}

#grid-separator-vertical {
    display: inline-block;
    position: absolute;
    width: 0px;
    margin: 0px;
    padding: 0px;
    height: 440px;
    border-right: 1px solid #EBEBEB;
}

/* ---------- END expertise ----------  */

/* ---------- START team ----------  */

.team-section {
    background: url('../img/BackgroundTeamSection.jpg');
    background-size: cover;
    height: 715px;
    width: 100%;
}

.team-section .wrap960 {
    /* overflow: auto; */
    padding-top: 1px;
    text-align: center;
    width: 960px; 
    height: inherit;
    margin: 0px auto;
}

.team-section .wrap960 > h3 {
    color: #FFFFFF;    
    margin: 70px auto 0px auto;
}

.team-section .wrap960 > p {
    color: #F9F9F9;
    margin: 8px auto 0px auto;
}

.team-section .wrap960 .separator {
    margin-top: 12px;
    border-color: #655c80;
}

.team-section .wrap960 .team-gallary {
    margin: 44px 0px;
}

.team-section .wrap960 .team-gallary .team-picture {
    display: inline-block;
    vertical-align: top;
    width: 219px;
    height: 229px;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding: 0px;
    background-color: #FFFFFF; 
}

#team-border {
    display: inline-block;
    vertical-align: top;
    width: 217px;
    height: 78px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #79768d;
}

.team-section .wrap960 .team-gallary #team-border p {
    color: white;
    font-size: 10.5pt;
    margin: 15px auto 0px auto;
}   

.team-section .wrap960 .team-gallary #team-border p:nth-last-of-type(1) {
    color: #C0C0C7;
    font-size: 10pt;
    margin: 3px auto 0px auto;
}   

.team-section .wrap960 .team-bottom > p {
    color: #F3F3F3;
    margin-top: 68px;
}

.team-section .wrap960 .team-bottom .dark-button {
    background: transparent;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    margin: 10px auto 0px auto;
}

.team-section .wrap960 .team-bottom .dark-button:hover {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

/* ---------- END team ----------  */

/* ---------- START work ----------  */

.work-section {
    width: 100%;
    height: 740px;
}

.work-section a {
    text-decoration: none;
}

.work-section .wrap960 {
    color: #413D4B;
    width: 960px; 
    height: 158px;
    margin: 0px auto;
}

.work-section .wrap960 h3 {
    float: left;
    font-size: 16pt;
    font-weight: 100;
    margin: 65px 10px 0px 10px;
}

.work-section .wrap960 h6 {
    float: right;
    margin: 65px 10px;
}

.work-gallary {
    width: 100%;
    height: 400px;
}

.work-gallary > div {
    float: left;
    height: 200px;
    width: 16.666666%;
    padding: 0px;
    background-color: grey;
    outline: thin solid #D2D2D3;
}

.work-bottom .wrap960 {
    height: inherit;
    margin: 0px auto;
}

.work-bottom .wrap960 .dark-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 70px auto 0px auto;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0;
    background: transparent;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.work-bottom .wrap960 .dark-button :hover {
    color: #30235f;
    border: 1px solid #30235f; 
}

/* ---------- END work ----------  */

/* ---------- START testimonials-top ---------- */

.testimonials-section {
    background: url('../img/BackgroundTestimonialsSection.jpg');
    background-size: cover; 
    width: 100%;
    height: 500px;
    margin: 0px auto;
}

.testimonials-section .wrap960 {
    width: 960px;
    height: inherit;
    margin: 0px auto;
    padding-top: 1px;
}

.testimonials-section .wrap960 .testimonials-header {
    color: #F0F0F2;
    text-align: center;
    height: inherit;
}

.testimonials-section .wrap960 .testimonials-header #quotation {
    font-size: 90pt;
    width: 70px;
    height: 70px;
    margin: 30px auto 0px auto; 
    padding: 0px;
}

.testimonials-section .wrap960 .testimonials-header p:nth-last-of-type(3) {
    font-size: 10.5pt;
    word-wrap: break-word;
    width: 780px;
    margin: 50px auto 0px auto;
}

.testimonials-section .wrap960 .testimonials-header p:nth-last-of-type(2) {
    font-size: 10pt;
    margin: 55px auto 0px auto;
}

.testimonials-section .wrap960 .testimonials-header p:nth-last-of-type(1) {
    color: #9692a7;
    font-size: 9pt;
    margin: 2px auto 0px auto;
}

.testimonials-section .wrap960 .testimonials-header .testimonials-pictures div {
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 0px 3px; 
    margin: 0px auto;
    margin-top: 45px;
}

.testimonials-section .wrap960 .testimonials-header .testimonials-pictures .side-signs {
    color: #9F9F9F;
    font-size: 26pt;
    font-weight: 100;
}
 
.testimonials-section .wrap960 .testimonials-header .testimonials-pictures #active-picture {
     padding-right: 28px; 
} 

/* ---------- END testomonials-top ----------  */

/* ---------- START testomonials-bottom ----------  */



.contact-section {
    width: 100%;
    height: 655px;
    font-weight: 100;
}

.contact-section .wrap960 {
    width: 960px;
    height: inherit;
    margin: 0px auto;
}

.contact-section .wrap960 .textTop {
    color: #413d4b;
    margin: 70px 0px 28px 10px;
}

.contact-section .wrap960 .left {
    float: left;
}

.contact-section .wrap960 .left .form-style {
    color: #ACABB1;
    width: 460px;
    margin: 10px;
}

.contact-section .wrap960 .left .form-style input {
    width: 440px;
    height: 42px;
    border: thin solid #E5E5E5; 
    padding-left: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.contact-section .wrap960 .left .form-style  textarea {
    width: 440px;
    height: 200px;
    padding-left: 20px;
    border: thin solid #E5E5E5; 
}

.contact-section .wrap960 .left .form-style textarea:placeholder-shown {
    color: #ACABB1;
    padding-top: 18px;
}

.contact-section .wrap960 .left .dark-button {
    color: #00e0d0;
    width: 118px;
    height: 40px;
    background: transparent;
    border: 1px solid #00e0d0;
    margin-top: 14px;
}

.contact-section .wrap960 .right .textTop {
    color: #413d4b;
    margin: 70px 0px 0px 0px;
}

.contact-section .wrap960 .right {
    width: 390px;
    height: inherit;
    float: right;
}

.contact-section .wrap960 .right .brand-logos {
    width: 390px;
    height: 420px;
    margin-top: 42px;  
}

.contact-section .wrap960 .right .brand-logos > div {
    display: inline-block;
     width: 46%; 
    margin-bottom: 46px;
    padding-right: 10px;
}
/* END TESTIES */

/* ---------- START footer ----------  */

.footer {
    background: url('../img/BackgroundFooter.jpg');
    background-size: cover;
    width: 100%;
    height: 400px;
}

.footer .wrap960 {
    font-weight: 100;
    width: 960px;
    height: inherit;
    margin: 0px auto;
}

/* ---------- START LEFT ----------  */

.footer .wrap960 .footer-left {
    float: left;
    width: 320px;
    height: inherit;
}

.footer .wrap960 .footer-left .logo {
    margin: 70px 0px 0px 10px;

}

.footer .wrap960 .footer-left .footer-text {
    color: #EBEAED;
    font-size: 10.5pt;
    margin: 24px 0px 0px 10px;
}

.footer .wrap960 .footer-left .footer-nav {
    margin: 0px;
}

.footer .wrap960 .footer-left .footer-nav ul {
    float: left;
    list-style: none;
    margin-top: 57px;
    margin-left: 10px;
    padding: 10px 0px 0px 0px;
}

.footer .wrap960 .footer-left .footer-nav ul > li {
    font-size: 10pt;
    display: inline; 
    margin: 0px 0px; 
    padding: 0; 
}

.footer-nav ul > li > a {
    color: #FFFFFF;
    text-decoration:  none;
}

.footer-nav ul > li > a:hover {
    color: #00E0D0;
}

/* ---------- END LEFT ----------  */

/* ---------- START CENTER ----------  */

.footer .wrap960 .footer-center {
    color: #EBEAED;
    float: left;
    width: 320px;
    height: inherit;
}

.footer .wrap960 .footer-center .footer-text h3 {
    font-size: 11pt;
    margin: 90px 0px 0px 10px;
}

.footer .wrap960 .footer-center .footer-text p {
    font-size: 10.5pt;
    margin: 34px 0px 0px 10px;
}

.footer .wrap960 .footer-center .footer-text p:nth-child(3) {
    font-size: 10.5pt;
    margin: 0px 0px 0px 30px;
    /* color: red; */
}

.footer .wrap960 .footer-center .footer-text p:nth-child(4) {
    font-size: 10.5pt;
    margin: 0px 0px 0px 29px;
    /* color: red; */
}

.footer .wrap960 .footer-center .footer-text p > i {
    padding-right: 10px;
}

/* ---------- END CENTER ----------  */

/* ---------- START RIGHT ----------  */

.footer .wrap960 .footer-right {    
    float: left;
    width: 320px;
    height: inherit;
}

.footer .wrap960 .footer-right .footer-text h3 {
    color: #EBEAED;
    font-size: 11pt;
    margin: 90px 0px 0px 10px;
}

.footer .wrap960 .footer-right .footer-text .dark-button {
    width: 221px;
    height: 45px;
    margin: 38px 0px 0px 10px;
    padding: 10px;
    font-size: 11pt;  
    color: #958EA8;
    background: transparent;
    border: 1px solid #958EA8;
    border-radius: 2px;
}

.footer .wrap960 .footer-right .footer-text .dark-button:nth-of-type(2) {
    width: 70px;
    height: 45px;
    margin-left: 5px;
    color: black;
    background-color: #958EA8;
    border: 1px solid #958EA8;
    border-radius: 2px;
}

.social-buttons ul {
    float: left;
    list-style: none;
    margin-top: 25px;
    margin-left: 10px;
    padding: 0px;
}

.social-buttons ul > li {
    color: #FFFFFF;
    display: inline; 
    margin-left: 5px;
}

.social-buttons ul > li {
    margin: 0px auto;
}

.custom-icon {
    background: transparent;
    color: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    display: table-cell;
    font-size: 15px;
    height: 24px;
    width: 24px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
}

.fix-editor {
    display: none;
}

.copyleft {
    float: left;
    width: 100%;
    font-size: 10pt;
    color: #FFFFFF;
    margin: 24px 88px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}