<template>
<!-- START #search -->
<div id="search">  
  <transition name="modal"> 
    <!-- START .modal-mask -->
    <div class="modal-mask" > 
      <!-- START .modal-wrapper -->
      <div class="modal-wrapper" > 
        <!-- START .modal-container -->
        <div class="modal-container" :class="{ wiggle: errorToggle }"> 
          <p class="control has-icons-left has-icons-right">
            <a class="delete is-large" @click="$emit('close')"></a>
            <span class="inputError" v-if="errorToggle">
              The artist you're searching for does not exist.
            </span>
            <input ref='search' class="input" type="search" 
                   v-model="artistName"
                   @keyup="errorToggle = false" 
                   @keyup.enter="goToArtistPage(artistName)">
            <span class="icon is-small is-left">
              <icon name="search"></icon>
            </span>
            <div v-show="isSearching">
              <div class="searchFliter" v-for="artist in filteredArtists">
                <div class="searchedValue" @click="goToArtistPage(artist)">
                  <img class="searchedImage" :src="artistsList[artist]">
                  {{artist}}
                </div>
              </div> 
            </div>
          </p>
        </div> <!-- END .modal-container -->
      </div>  <!-- END .modal-wrapper -->
    </div> <!-- END .modal-mask -->
  </transition>
</div> <!-- END $search-->
</template>

<script>
export default {
  name: 'search',

  computed: {
    filteredArtists() {
      return Object.keys(this.artistsList).filter((artist) => {
        return artist.toLowerCase().match(this.artistName.toLowerCase())
      })
    }
  },

  created() {
    this.loadListOfArtists()
  },

  data() {
    return {
      artistsList: [],
      artistName: '',
      isSearching: false,
      errorToggle: false
    }
  },

  methods: {
    goToArtistPage(artist) {
      if (artist.trim() === '' || !this.isInArray(artist)) {
        this.errorToggle = true
        this.isSearching = false
        this.artistName = ''
      } else {
        this.$router.push('/artist/' + artist.toLowerCase()
                          .split(' ').join('+'))
      }
    },

    loadListOfArtists() {
      this.axios.get('http://52.41.112.176/final_project/snareapi/public/artists')
        .then(response => {
                this.artistsList = response.data
        })
        .catch(error => {
                console.log(error)
        })
    }, 
    // !!! FIX !!! 
    // Consider a more eappopriate name for isInArray
    isInArray(artist) {
      let found = Object.keys(this.artistsList).map(this.toLower)
                        .some(needle => artist.toLowerCase().includes(needle))
      return found
    }, 

    toLower(list) {
      return list.toLowerCase()
    },
  },

  mounted() {
    this.$refs.search.focus()
  },

  watch: {
    // !!! FIX !!! 
    // Consider removing the Timeout or find a cleaner way to fix the problem 
    // of quickly deleting the input displays all artists  
    artistName(query) {
      if (query.length === 0 || query.trim() === '') {
        this.isSearching = false
      } else {
        setTimeout(() => {
          this.isSearching = true
        }, 100) 
      }
    }
  }
  // setTimeout(function() {
  //         this.isSearching = true
  //       }.bind(this), 1000) 
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  /*keep it as an option */
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  margin-top: 400px;
  vertical-align: middle;
}

.modal-container {
  width: 350px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #363636;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  opacity: 0.8;

}

.modal-container:hover {
  opacity: 0.9;
  color: #ebebeb
}

.modal-container input {
  width: 100%;
  height: 40px;
  /* background-color: #363636; */
  border-radius: 5px;
  background-color: #4A4A4A;
  color: #eaeaea;
  outline: none;
  border: thin solid transparent;
  font-size: 14pt;
}

.modal-container input:focus {
  background-color: #5e5e5e;
  outline: none;
  /*border-color: red;*/
}

.modal-container i {
  color: red;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.delete {
    margin-bottom: 5px;
}

.delete:hover {
  opacity: 0.7;
}

.fa-icon {
  float: left;
  width: auto;
  height: 1em; 
  margin-top: 75px;
}

.inputError {
  padding: 5px 5px;
  color: #ff7d7d;
  height: inherit;
  font-size: 10pt;
  width: auto;
}

.wiggle {
  -webkit-animation: wiggle 0.3s 0s ease-in;
  animation: wiggle 0.3s 0s ease-in;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-2deg);
  }
  25% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.searchFliter {
  color: white;
  width: inherit;
  text-align: left;
  background-color: #424141;
  border: thin solid #363636;
  margin-top: 4px;
  /* vertical-align: middle; */
}

.searchedValue {
  height: 45px;
  line-height: 45px;
  cursor: default;
}

.searchedValue:hover {
  background-color: #515151;
}

.searchedImage {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 100%;
}


</style>
