body {
 background-color: #FFFFFF ;
}
h1 {
 text-align: center;
}
h4 {
 text-align: center;
}
p {

 text-align: center;
 border: thin solid black;
 width: 20%;
 height: 30px;
 margin: 0 auto;
}
