.post-container {
    width: 960px;
    margin: 0 auto;
}

.post {
    width: 500px;
    height: 600px;
    border: thin solid grey;
    margin: 0 auto;

}

.post .post-photo {
    width: 500px;
    height: 500px;
    /*background: url('../whoops.jpg');*/
}
