/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
container {
    width: 100%;
    height: 100%;
    min-height: 700px;
}

/* ---------- header START ----------  */

#container .header {
    background: url('../img/BackgroundHeaderMerged.jpg');
    background-size: cover;
    width: 100%;
    height: 670px;
}

#container .header .wrap960 {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

.wrap960 .header-top {
    float: left;
    width: 100%;
    height: 80px;
}

.wrap960 .header-top .logo-wrap {
    float: left;
    width: 25%;
    height: 100%;
}

.logo-wrap .logo {
    background: url('../img/logo_128x50.png');
    display: block;
    width: 128px;
    height: 50px;
    margin: 12px 0 0 10px;
}

.wrap960 .header-top .nav-wrap {
    float: right;
    width: 75%;
    height: 100%;
}

.nav-wrap ul {
    list-style: none;
    font-size: 10pt; 
    float: right;
      /* width: 650px;   */
    height: 30px;
    margin: 29px 0 0 25px; 
    padding: 0;
} 

 .nav-wrap ul > li {
    display: inline; 
    margin: 0 6px; 
    padding: 0; 
} 

.nav-wrap ul > li > a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.nav-wrap ul > li > a:hover {
    color: #00e0d0;
}

.header-middle {
    float: left;
    width: 100%;
    height: 420px;
    padding: 80px 0;
}

.header-middle > h1 {
    color: #FFF;
    margin: 37px 0px 0px 0px;
    font-size: 27pt;
    text-align: center;
    /* border: 1px solid red; */
}

.header-middle > p {
    width: 80%;
    margin: 30px auto;
    color: #FFF;
    text-align: center;
    font-size: 14pt;
}

.header-middle .dark-button {
    display: block;
    width: 120px;
    height: 40px;
    margin: 0 auto;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0;
    background: transparent;
    border: 1px solid #00e0d0;
    border-radius: 2px;
}

.dark-button:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.separator {
    display: block;
    width: 50px;
    height: 1px;
    margin: 13px auto;
    border-top: 1px solid #00e0d0;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 180px auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left; /* --- !!! ---- */
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

/* ---------- header END ----------  */

/* ---------- about START ----------  */

.about {
    height: 400px;
    /* border: 1px solid red; */
}

.about .aside-left {
    /* border: 1px solid blueviolet;   */
    float: left;
    width: 43.5%;
    height: inherit;
    /*prev value 730*/
}

.about .aside-left #aside-logo {
     /* border: 1px solid greenyellow;  */
    width: 235px;
    margin: 70px 400px;
}
/* Distance between aside-logo and text block is 100px H color is 413d4b */

.about .aside-right {
    /* border: 1px solid limegreen;  */
    width: 45%; 
    display: inline-block;
}

.about .aside-right h3{
    margin: 60px 0px 0px 0px; 
    color: #413B4B; 
    font-size: 17pt;
}

.about .aside-right p {
    width: 540px;
    color: #817F86;
    margin-bottom: 10px;
    /* border: 1px solid red;  */
}


.about .aside-right .dark-button {
    float: left;
    display: block;
    width: 120px;
    height: 40px;
    margin: 0px auto;
    padding: 10px;
    font-size: 10pt;
    color: #00e0d0; 
    background: transparent;
    border: 1px solid #00e0d0; 
    border-radius: 2px;
}

.about .aside-right .dark-button:hover {
    color: #30235f;
    border: 1px solid #30235f; 

}

.about-video {
    width: 100%;
    height: 550px;
    background: url('../img/VideoSectionBackground.jpg');
    background-size: cover;
     border: 1px solid transparent;    
}

.about-video #video-button > a > img{
    width: 102px;
    height: 102px;
    margin: 198px auto 0px auto;
    display: block;
    /* border: 1px solid lightsalmon;  */
}
.about-video #video-button > a > img:hover{
    opacity: 0.6;
}

.about-video .video-text > h3 {
    /* border: 1px solid red;  */
    color: white;
    text-align: center;
    font-size: 12.3pt;
    margin: 36px auto;
} /* position from top 336px;
    36px text from button
  /* 202 from top for the button */ 
/***** debugging *****/

/* ---------- about END ----------  */

/* ---------- expertise START ----------  */

.expertise-section {
    height: 753px;
    width: 960px;
    margin: 0 auto;
    border: 1px solid transparent;  
}

.expertise-section .separator {
    border-top: 1px solid #C6C4C9;
    margin-bottom: 20px;

}

.expertise-section .top-section h3 {
    font-size: 22pt;
    width: 18%;
    margin: 56px auto 0px auto;
    color: #413B4B;
    /* border: 1px solid limegreen; */
}

.expertise-section .mid-section .mid-top > ul > li > img {
     margin-top: 17px; 
}

.expertise-section .top-section p {
    font-size: 14pt;
    color: #78777B;
    margin: 0px auto;
    text-align: center;
}

.expertise-section .mid-section {
    width: inherit;
    height: inherit;
    /* border: 1px solid red; */
    margin: 0px auto;
}
/* 50px between seperator and mid-top*/

.expertise-section .mid-section ul {
    list-style: none;
    margin: 60px auto 0px auto;
    /* display: inline; */
     /* border: 1px solid yellow;  */
}

.expertise-section .mid-section .mid-bottom ul {
    list-style: none;
    margin: 40px auto 0px auto;
    /* display: inline; */
     /* border: 1px solid yellow;  ---------------------------*/
}
.expertise-section .mid-section ul > li{
    display: inline-block; 
    padding: 0px 20px;
    text-align: center;
    /* border: 1px solid blueviolet; */
}

.expertise-section .mid-section ul > li  > h5 {
    color: #413D4B;
    padding-top: 0px;
    margin: 25px auto 0px auto;

}
.expertise-section .mid-section ul > li > p {
    color: #7A7A7A;
    font-size: 14px;
    width: 252px;
    padding-top: 0px;
    margin: 14px auto;

}

#grid-separator-horizontal {
    display: block;
    width: 940px;
    height: 1px;
    padding: 0px;
    margin: 20px;
    border-top: 1px solid #EBEBEB;
}

#grid-separator-vertical {
    display: inline-block;
    width: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    height: 440px;
    border-right: 1px solid #EBEBEB;
}

/* ---------- expertise END ----------  */

/* ---------- team START ----------  */

.team-section {
    height: 715px;
    width: 100%;
    background: url('../img/BackgroundTeamSection.jpg');
    background-size: cover;
    /* border: 1px solid red; */
}

.team-section .wrap960 {
    width: 960px; 
    height: inherit;
    margin: 0px auto;
    overflow: auto;
    text-align: center;
}

.team-section .wrap960 > h3 {
    margin: 70px auto 0px auto;
    color: #FFFFFF;    
    /* border: 1px solid red;  */
}

.team-section .wrap960 > p {
    margin: 8px auto 0px auto;
    color: #F9F9F9;
}

.team-section .wrap960 .separator {
    border-color: #655c80;
    margin-top: 12px;
}

.team-section .wrap960 .team-gallary {
    height: inherit;
    border: 1px solid limegreen; 
    margin: 44px 0px;
}

.team-section .wrap960 .team-gallary .team-picture {
    display: inline-block;
    width: 219px;
    height: 229px;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding: 0px;
    vertical-align: top;

    /*
    margin-right: 10px;
    margin-left: 5px; */
    /* border: 1px solid red; */
    background-color: #FFFFFF; 
}

#team-border {
    display: inline-block;
    vertical-align: top;
    width: 217px;
    height: 78px;
    border: 1px solid #79768d;
    padding: 0px;
    border-top: none;
    margin: 0px;

}

/*  220 230 -> picture
    220 80  -> border box */
/* Debug  */
.pointer {
    cursor: pointer;
    border: 1px dotted #b479da;
}
.pointer:hover {
	opacity: 0.9;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}