<template>
<div id="app" > <!-- START #app -->
  <div class="wrapper"> <!-- START .wrapper -->
    <header-top></header-top>
    <transition name="fade">
      <router-view></router-view>  
    </transition> 
  </div> <!-- END .wrapper -->
  
</div> <!-- END #app -->
</template>

<script>
export default {
  name: 'app',
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header {  
  height: 80px;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
}

.header-left {
  height: inherit;
  width: 33%;
  float: left;
}

.header-mid {
  height: inherit;
  width: 33%;
  float: left;
}

.header-right {
  height: inherit;
  width: 33%;
  float: right;
}
/*- - - - - - - - - -*/
/*- - !!! FIX !!! - -*/
.snareLogo {
  height: auto;
  width: 75px;
  margin: 0 auto;
  display: block;
  /*display: inline-block;*/
  /*position: fixed;*/
  /*top: 50%;*/
  /*left: 50%;*/
} 
/*- - - - - - - - - -*/
/*- - !!! FIX !!! - -*/
.search {
  /*display: inline;*/
  /*float: right;*/
  /*border: 1px solid black;*/
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-top: 34px;
  /*right: 100%;*/
  /*margin: 30px 0px 0px 30px;*/
  opacity: 0.7;
}
/*- - - - - - - - - -*/
/*- - !!! FIX !!! - -*/
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  /*default value: */
  /*transition-duration: .25s;*/
  /*experimental value*/
  transition-duration: .35s;
  transition-timing-function: ease-in;
}

.fade-enter-active {
  transition-delay: .35s;
  transition-timing-function: ease-out;
}

.fade-enter, .fade-leave-active {
  /*transition-delay: 0.5s;*/
  opacity: 0
}
</style>
