 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>about</title>
 </head>
 <body>
  <h1>{{pageTitle}}</h1>
  <p>some text</p>


  <footer>
    <p>copyleft {{currentYear}}</p>
  </footer>
 </body>
 </html>