body 
{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #F9F9F9;  
}

header 
{
    width: 100%;
    height: 70pt;
    background-color: #282828;
    box-shadow: 0pt 2pt 8pt 1pt #454545;
}

header img 
{
    display: block;
    width: auto; 
    height: inherit; 
    margin: 0 auto;
}

main
{
    width: 50%;
    margin: 70pt auto;
    /* border: 1px solid red; */
}

input[type=text], select 
{
    width: 100%;
    padding: 5px 0px; 
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;    
    border-radius: 4px;
}
input[type=text]:focus 
{
    background-color: #FFFFFF;
    border: 1px solid#A4A4A4;
    box-shadow: -1px -1px 5px -2px #272727;
}